In [1]:
!pip install sqlalchemy
!pip install pymysql

import sqlalchemy
import pymysql
from sqlalchemy import create_engine
import pandas as pd

Requirement already satisfied: sqlalchemy in /Applications/anaconda3/lib/python3.11/site-packages (1.4.39)
Requirement already satisfied: pymysql in /Applications/anaconda3/lib/python3.11/site-packages (1.1.1)

In [2]:
password = 'Fill in your own password here'
db_name = 'forge_project2'

In [3]:
conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', password=password, database=db_name)

In [4]:
connection = create_engine("mysql+pymysql://root:" + password + "@localhost:3306/" + db_name)

In [5]:
video = pd.read_csv('../sqldata/sql_video.csv')

In [6]:
channel = pd.read_csv('../sqldata/sql_channel.csv')

In [7]:
subscription = pd.read_csv('../sqldata/sql_subscription.csv')

In [8]:
view = pd.read_csv('../sqldata/sql_view.csv')

In [9]:
user = pd.read_csv('../sqldata/sql_user.csv')

In [10]:
owner = pd.read_csv('../sqldata/sql_owner.csv')

In [11]:
video_table = 'videos'
channel_table = 'channels'
subscription_table = 'subscriptions'
view_table = 'views'
user_table = 'users'
owner_table = 'owners'

In [100]:
video.to_sql(name=video_table, con=connection, if_exists='replace', index=False)

60

In [101]:
channel.to_sql(name=channel_table, con=connection, if_exists='replace', index=False)

10

In [102]:
subscription.to_sql(name=subscription_table, con=connection, if_exists='replace', index=False)

50

In [103]:
view.to_sql(name=view_table, con=connection, if_exists='replace', index=False)

70

In [104]:
user.to_sql(name=user_table, con=connection, if_exists='replace', index=False)

50

In [105]:
owner.to_sql(name=owner_table, con=connection, if_exists='replace', index=False)

10

In [106]:
# Top 5 Videos by Total Watch Time
query1 = """

SELECT videos.Title, SUM(`Duration Watched`) AS total_watch_time
FROM views
LEFT JOIN videos ON views.`Video ID` = videos.`Video ID`
GROUP BY videos.Title 
ORDER BY total_watch_time DESC
LIMIT 5


"""

In [107]:
result_df = pd.read_sql(query1, con=connection)

In [108]:
result_df

                               Title  total_watch_time
0      Minecraft 1.21 Building Ideas           14869.0
1       Understanding Climate Change           14580.0
2     Beginner's Guide to Statistics           14575.0
3             The Story of Apollo 11           14427.0
4  Songwriting 101: Melody vs Lyrics           13964.0

In [118]:
query2 = """

SELECT Category, AVG(Rating) AS average_rating
FROM videos
GROUP BY Category
ORDER BY average_rating DESC

"""

In [119]:
result_df_2 = pd.read_sql(query2, con=connection)

In [120]:
result_df_2

      Category  average_rating
0         Food        4.113333
1       Gaming        4.081667
2    Education        4.013333
3   Technology        3.976667
4      Fitness        3.806667
5          DIY        3.798333
6       Travel        3.616667
7  Documentary        3.591667
8        Music        3.545000
9       Movies        3.368333